.question-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2 {
    @include font($text-green, 30px, 700);
    margin: 10px;
  }
  
  p {
    @include font($text-green, 18px, 400);
    margin: 10px 20px;
    text-align: center;
  }
}

.question-img-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 380px;
}

.answer-img {
  width: 240px;
  height: 150px;
  border: 5px solid $grey;
  border-radius: 5px;
}
