.question-card {
  grid-area: question;
  background-color: $card-green;
  height: 500px;
  width: 700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {

}
