@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$primary: 'Montserrat', sans-serif;

$grey: #35393C;
$card-green: #397367;
$background-green: #9BCCC3;
$text-green: #DCE8EA;
